.black_border {
    -fx-border-color: #000000;
}

.font_25 {
     -fx-font-size: 25;
}

.done_button {
        -fx-background-color: #3bc72e;
        -fx-text-fill: #FFFFFF;
}

.done_button:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #3bc72e;
}

.reject_button {
        -fx-background-color: #5c5c5c;
        -fx-text-fill: #FFFFFF;
}

.reject_button:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #5c5c5c;
}

.root {
    -fx-background-color: #fff1ad;
}

.scroll-pane{
    -fx-background: #fff1ad;
}

.button {
    -fx-background-color: #8B4513;
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #8B4513;
}

.label {
    -fx-font-weight: bold;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .track-background {
    -fx-background-color: #8B4513;
    -fx-background-radius: 2em;
}

.scroll-bar .thumb {
 -fx-background-color: #fff1ad;
}