.black_border{
    -fx-border-color: #000000;
}

.font_25{
     -fx-font-size: 25;
}

.root{
    -fx-background-color: #8FE4C6;
}

.button {
    -fx-background-color: #66CDAA;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #000000;
}
